@import url("https://fonts.googleapis.com/css2?family=Changa:wght@200..800&display=swap");

:root {
  --background: #111921;
  --foreground: #ffffff;
  --primary: #00fbed;
  --primary-foreground: #131313;
  --secondary: #231829;
  --input: #1e202a;
  --input-border: #324374;
  --input-hover: #312f44;
  --input-border-hover: #5d60ff;
}

* {
  margin: 0;
  padding: 0;
}

.contact-form {
  max-width: 500px;
  margin: auto;
  padding: 20px;
}
.contact-form h1,
.contact-form p {
  text-align: center;
}
.contact-form label {
  display: block;
  margin-top: 10px;
}
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  color: var(--foreground);
  background-color: var(--input);
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-right: -10px;
  border: 1px solid var(--input-border);
  border-radius: 10px;
}
.contact-form input[type="text"]:hover,
.contact-form input[type="email"]:hover,
.contact-form textarea:hover {
  background-color: var(--input-hover);
  border-color: var(--input-border-hover);
}
.contact-form button {
  background-color: var(--primary);
  color: var(--primary-foreground);
  width: 30%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.contact-form button:hover {
  background-color: var(--input-border);
}
body {
  background-color: var(--background);
  background-image: linear-gradient(
    to bottom left,
    rgba(255, 0, 0, 0),
    rgba(2, 111, 126, 0.11),
    rgba(95, 2, 83, 0.192),
    rgba(255, 0, 0, 0)
  );
  background-attachment: fixed;
  color: var(--foreground);
  font-family: "Changa", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.icon-button {
  background: none;
  /* border: var(--primary) 1px solid; */
  /*  */
  color: var(--primary);
  cursor: pointer;
  display: inline-block;
  padding: 0.5rem;
}
